In [2]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
train_df = pd.read_csv("maternal_morbidity_1.csv", sep='\t')
train_df.tail()

         DOB_YY MM_MTR MM_PLAC MM_RUPT MM_UHYST MM_AICU  NO_MMORB AB_NICU
1601531    2018      N       N       N        N       N       1.0       N
1601532    2018      N       N       N        N       N       1.0       N
1601533    2018      N       N       N        N       N       1.0       N
1601534    2018      N       N       N        N       N       1.0       N
1601535    2018      N       N       N        N       N       1.0       N

In [51]:
df = train_df.dropna()

In [14]:
def parseToInt(val):
    if(val == 'X'):
        return 0
    elif(val == 'U'):
        return 1
    elif(val == 'N'):
        return 2
    else:
        return 3

In [52]:
df['MM_MTR'] = pd.DataFrame(list(map(parseToInt, df['MM_MTR'])))
df['MM_PLAC'] = pd.DataFrame(list(map(parseToInt, df['MM_PLAC'])))
df['MM_RUPT'] = pd.DataFrame(list(map(parseToInt, df['MM_RUPT'])))
df['MM_UHYST'] = pd.DataFrame(list(map(parseToInt, df['MM_UHYST'])))
df['MM_AICU'] = pd.DataFrame(list(map(parseToInt, df['MM_AICU'])))
df['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df['AB_NICU'])))

/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [53]:
df.corr()

,DOB_YY,MM_MTR,MM_PLAC,MM_RUPT,MM_UHYST,MM_AICU,NO_MMORB,AB_NICU
DOB_YY,1.000000,0.011940,0.002435,0.009357,0.009198,0.006223,-0.012052,0.015789
MM_MTR,0.011940,1.000000,0.240428,0.532463,0.575229,0.506880,-0.011218,0.060041
MM_PLAC,0.002435,0.240428,1.000000,0.370507,0.365361,0.292814,-0.014037,0.019505
MM_RUPT,0.009357,0.532463,0.370507,1.000000,0.828404,0.662453,-0.012090,0.061401
MM_UHYST,0.009198,0.575229,0.365361,0.828404,1.000000,0.706907,-0.012842,0.063089
MM_AICU,0.006223,0.506880,0.292814,0.662453,0.706907,1.000000,-0.012076,0.082772
NO_MMORB,-0.012052,-0.011218,-0.014037,-0.012090,-0.012842,-0.012076,1.000000,-0.002370
AB_NICU,0.015789,0.060041,0.019505,0.061401,0.063089,0.082772,-0.002370,1.000000

In [5]:
df_mat_18_1 = pd.read_csv("maternal_morbidity_18_1.csv", sep='\t')
df_mat_18_1.tail()

        DOB_YY MM_MTR MM_PLAC MM_RUPT MM_UHYST MM_AICU  NO_MMORB AB_NICU
315588    2018      N       N       N        N       N         1       N
315589    2018      N       N       N        N       N         1       N
315590    2018      N       N       N        N       N         1       N
315591    2018      N       N       N        N       N         1       N
315592    2018      N       N       N        N       N         1       N

In [15]:
df_mat_18_1['MM_MTR'] = pd.DataFrame(list(map(parseToInt, df_mat_18_1['MM_MTR'])))
df_mat_18_1['MM_PLAC'] = pd.DataFrame(list(map(parseToInt, df_mat_18_1['MM_PLAC'])))
df_mat_18_1['MM_RUPT'] = pd.DataFrame(list(map(parseToInt, df_mat_18_1['MM_RUPT'])))
df_mat_18_1['MM_UHYST'] = pd.DataFrame(list(map(parseToInt, df_mat_18_1['MM_UHYST'])))
df_mat_18_1['MM_AICU'] = pd.DataFrame(list(map(parseToInt, df_mat_18_1['MM_AICU'])))
df_mat_18_1['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df_mat_18_1['AB_NICU'])))

In [24]:
df_mat_18_1.drop("DOB_YY", axis = 1, inplace = True)

In [23]:
df_mat_18_1.corr()

            MM_MTR   MM_PLAC   MM_RUPT  MM_UHYST   MM_AICU  NO_MMORB   AB_NICU
MM_MTR    1.000000  0.173608  0.422555  0.478698  0.422613 -0.616450  0.051321
MM_PLAC   0.173608  1.000000  0.295153  0.292996  0.222735 -0.608295  0.009020
MM_RUPT   0.422555  0.295153  1.000000  0.738407  0.565754 -0.813401  0.046307
MM_UHYST  0.478698  0.292996  0.738407  1.000000  0.634805 -0.809498  0.048568
MM_AICU   0.422613  0.222735  0.565754  0.634805  1.000000 -0.691818  0.070548
NO_MMORB -0.616450 -0.608295 -0.813401 -0.809498 -0.691818  1.000000 -0.053603
AB_NICU   0.051321  0.009020  0.046307  0.048568  0.070548 -0.053603  1.000000

In [31]:
df_inf_18_1 = pd.read_csv("infections_18_1.csv", sep='\t')
df_inf_18_1.tail()

        DOB_YY IP_GON IP_SYPH IP_CHLAM IP_HEPB IP_HEPC  NO_INFEC AB_NICU
315588    2018      N       N        N       N       N         1       N
315589    2018      N       N        N       N       N         1       N
315590    2018      N       N        N       N       N         1       N
315591    2018      Y       N        N       N       N         0       N
315592    2018      N       N        N       N       N         1       N

In [35]:
df_inf_18_1.drop("DOB_YY", axis = 1, inplace = True)

In [33]:
df_inf_18_1['IP_GON'] = pd.DataFrame(list(map(parseToInt, df_inf_18_1['IP_GON'])))
df_inf_18_1['IP_SYPH'] = pd.DataFrame(list(map(parseToInt, df_inf_18_1['IP_SYPH'])))
df_inf_18_1['IP_CHLAM'] = pd.DataFrame(list(map(parseToInt, df_inf_18_1['IP_CHLAM'])))
df_inf_18_1['IP_HEPB'] = pd.DataFrame(list(map(parseToInt, df_inf_18_1['IP_HEPB'])))
df_inf_18_1['IP_HEPC'] = pd.DataFrame(list(map(parseToInt, df_inf_18_1['IP_HEPC'])))
df_inf_18_1['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df_inf_18_1['AB_NICU'])))

In [36]:
df_inf_18_1.corr()

            IP_GON   IP_SYPH  IP_CHLAM   IP_HEPB   IP_HEPC  NO_INFEC   AB_NICU
IP_GON    1.000000  0.551379  0.356803  0.463985  0.380459 -0.696872  0.009499
IP_SYPH   0.551379  1.000000  0.292444  0.579283  0.469366 -0.794204  0.016185
IP_CHLAM  0.356803  0.292444  1.000000  0.241089  0.200737 -0.612919  0.012770
IP_HEPB   0.463985  0.579283  0.241089  1.000000  0.409487 -0.729261  0.006639
IP_HEPC   0.380459  0.469366  0.200737  0.409487  1.000000 -0.652722  0.036399
NO_INFEC -0.696872 -0.794204 -0.612919 -0.729261 -0.652722  1.000000 -0.018167
AB_NICU   0.009499  0.016185  0.012770  0.006639  0.036399 -0.018167  1.000000

In [37]:
df_inf_1 = pd.read_csv("infections_1.csv", sep='\t')
df_inf_1.tail()

         DOB_YY IP_GON IP_SYPH IP_CHLAM IP_HEPB IP_HEPC  NO_INFEC AB_NICU
1601531    2018      N       N        N       N       N       1.0       N
1601532    2018      N       N        N       N       N       1.0       N
1601533    2018      N       N        N       N       N       1.0       N
1601534    2018      Y       N        N       N       N       0.0       N
1601535    2018      N       N        N       N       N       1.0       N

In [38]:
df_inf_1.drop("DOB_YY", axis = 1, inplace = True)

In [39]:
df_inf_1['IP_GON'] = pd.DataFrame(list(map(parseToInt, df_inf_1['IP_GON'])))
df_inf_1['IP_SYPH'] = pd.DataFrame(list(map(parseToInt, df_inf_1['IP_SYPH'])))
df_inf_1['IP_CHLAM'] = pd.DataFrame(list(map(parseToInt, df_inf_1['IP_CHLAM'])))
df_inf_1['IP_HEPB'] = pd.DataFrame(list(map(parseToInt, df_inf_1['IP_HEPB'])))
df_inf_1['IP_HEPC'] = pd.DataFrame(list(map(parseToInt, df_inf_1['IP_HEPC'])))
df_inf_1['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df_inf_1['AB_NICU'])))

In [40]:
df_inf_1.corr()

            IP_GON   IP_SYPH  IP_CHLAM   IP_HEPB   IP_HEPC  NO_INFEC   AB_NICU
IP_GON    1.000000  0.904274  0.686163  0.869105  0.829619 -0.747984  0.304507
IP_SYPH   0.904274  1.000000  0.671448  0.916057  0.873229 -0.850704  0.321692
IP_CHLAM  0.686163  0.671448  1.000000  0.642864  0.615456 -0.621983  0.226643
IP_HEPB   0.869105  0.916057  0.642864  1.000000  0.845953 -0.774134  0.308742
IP_HEPC   0.829619  0.873229  0.615456  0.845953  1.000000 -0.709697  0.306113
NO_INFEC -0.747984 -0.850704 -0.621983 -0.774134 -0.709697  1.000000 -0.023888
AB_NICU   0.304507  0.321692  0.226643  0.308742  0.306113 -0.023888  1.000000

In [41]:
df_mat_1 = pd.read_csv("maternal_morbidity_1.csv", sep='\t')
df_mat_1.tail()

         DOB_YY MM_MTR MM_PLAC MM_RUPT MM_UHYST MM_AICU  NO_MMORB AB_NICU
1601531    2018      N       N       N        N       N       1.0       N
1601532    2018      N       N       N        N       N       1.0       N
1601533    2018      N       N       N        N       N       1.0       N
1601534    2018      N       N       N        N       N       1.0       N
1601535    2018      N       N       N        N       N       1.0       N

In [42]:
df_mat_1.drop("DOB_YY", axis = 1, inplace = True)

In [43]:
df_mat_1['MM_MTR'] = pd.DataFrame(list(map(parseToInt, df_mat_1['MM_MTR'])))
df_mat_1['MM_PLAC'] = pd.DataFrame(list(map(parseToInt, df_mat_1['MM_PLAC'])))
df_mat_1['MM_RUPT'] = pd.DataFrame(list(map(parseToInt, df_mat_1['MM_RUPT'])))
df_mat_1['MM_UHYST'] = pd.DataFrame(list(map(parseToInt, df_mat_1['MM_UHYST'])))
df_mat_1['MM_AICU'] = pd.DataFrame(list(map(parseToInt, df_mat_1['MM_AICU'])))
df_mat_1['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df_mat_1['AB_NICU'])))

In [44]:
df_mat_1.corr()

            MM_MTR   MM_PLAC   MM_RUPT  MM_UHYST   MM_AICU  NO_MMORB   AB_NICU
MM_MTR    1.000000  0.732066  0.897837  0.905471  0.885399 -0.610547  0.330920
MM_PLAC   0.732066  1.000000  0.797186  0.795874  0.769079 -0.617407  0.280406
MM_RUPT   0.897837  0.797186  1.000000  0.978607  0.945413 -0.621835  0.350463
MM_UHYST  0.905471  0.795874  0.978607  1.000000  0.952009 -0.621439  0.350729
MM_AICU   0.885399  0.769079  0.945413  0.952009  1.000000 -0.615060  0.351774
NO_MMORB -0.610547 -0.617407 -0.621835 -0.621439 -0.615060  1.000000 -0.115344
AB_NICU   0.330920  0.280406  0.350463  0.350729  0.351774 -0.115344  1.000000

In [ ]:
1. Yassin Faraji -  100,000/=
2. Katisho -  100,000/=
3. Raymond -  100,00/=
4. Mpatwa - 100,000/=
5. Mohamed Miraji - 100,000/=