In [10]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
train_df = pd.read_csv("natality_january.csv", sep='\t')
train_df.tail()

         DOB_YY MM_MTR MM_PLAC MM_RUPT MM_UHYST MM_AICU  NO_MMORB AB_NICU
1601531    2018      N       N       N        N       N       1.0       N
1601532    2018      N       N       N        N       N       1.0       N
1601533    2018      N       N       N        N       N       1.0       N
1601534    2018      N       N       N        N       N       1.0       N
1601535    2018      N       N       N        N       N       1.0       N

In [19]:
train_df['NO_MMORB'].unique()

array([ 1.,  0.,  9., nan])

In [21]:
train_df.shape

(1601536, 8)

In [22]:
df = train_df.dropna()

In [23]:
df.shape

(1579336, 8)

In [28]:
df['AB_NICU'].unique()

array(['N', 'Y', 'U'], dtype=object)

In [29]:
def parseToInt(val):
    if(val == 'X'):
        return 0
    elif(val == 'U'):
        return 1
    elif(val == 'N'):
        return 2
    else:
        return 3

In [30]:
df['MM_MTR'] = pd.DataFrame(list(map(parseToInt, df['MM_MTR'])))
df['MM_PLAC'] = pd.DataFrame(list(map(parseToInt, df['MM_PLAC'])))
df['MM_RUPT'] = pd.DataFrame(list(map(parseToInt, df['MM_RUPT'])))
df['MM_UHYST'] = pd.DataFrame(list(map(parseToInt, df['MM_UHYST'])))
df['MM_AICU'] = pd.DataFrame(list(map(parseToInt, df['MM_AICU'])))
df['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df['AB_NICU'])))

/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/babu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df.head()

   DOB_YY  MM_MTR  MM_PLAC  MM_RUPT  MM_UHYST  MM_AICU  NO_MMORB  AB_NICU
0    2014     2.0      2.0      2.0       2.0      2.0       1.0      2.0
1    2014     2.0      2.0      2.0       2.0      2.0       1.0      2.0
2    2014     2.0      2.0      2.0       2.0      2.0       1.0      2.0
3    2014     2.0      2.0      2.0       2.0      2.0       1.0      2.0
4    2014     2.0      2.0      2.0       2.0      2.0       1.0      2.0

In [32]:
df.corr()

,DOB_YY,MM_MTR,MM_PLAC,MM_RUPT,MM_UHYST,MM_AICU,NO_MMORB,AB_NICU
DOB_YY,1.000000,0.011940,0.002435,0.009357,0.009198,0.006223,-0.012052,0.015789
MM_MTR,0.011940,1.000000,0.240428,0.532463,0.575229,0.506880,-0.011218,0.060041
MM_PLAC,0.002435,0.240428,1.000000,0.370507,0.365361,0.292814,-0.014037,0.019505
MM_RUPT,0.009357,0.532463,0.370507,1.000000,0.828404,0.662453,-0.012090,0.061401
MM_UHYST,0.009198,0.575229,0.365361,0.828404,1.000000,0.706907,-0.012842,0.063089
MM_AICU,0.006223,0.506880,0.292814,0.662453,0.706907,1.000000,-0.012076,0.082772
NO_MMORB,-0.012052,-0.011218,-0.014037,-0.012090,-0.012842,-0.012076,1.000000,-0.002370
AB_NICU,0.015789,0.060041,0.019505,0.061401,0.063089,0.082772,-0.002370,1.000000