In [2]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
train_df = pd.read_csv("natality18_january.csv", sep='\t')
train_df.head()

,RF_PDIAB,RF_GDIAB,RF_PHYPE,RF_GHYPE,RF_EHYPE,RF_PPTERM,RF_INFTR,RF_FEDRG,RF_ARTEC,RF_CESAR,RF_CESARN,NO_RISKS,AB_NICU
0,N,N,N,N,N,N,N,X,X,N,0,1,N
1,N,N,N,N,N,N,N,X,X,Y,2,0,Y
2,N,N,Y,N,N,N,N,X,X,N,0,0,N
3,N,N,N,N,N,N,N,X,X,N,0,1,N
4,N,N,N,N,N,N,N,X,X,N,0,1,Y

In [6]:
def parseToInt(val):
    if(val == 'X'):
        return 0
    elif(val == 'U'):
        return 1
    elif(val == 'N'):
        return 2
    else:
        return 3

In [10]:
train_df['RF_PDIAB'] = pd.DataFrame(list(map(parseToInt, train_df['RF_PDIAB'])))
train_df['RF_GDIAB'] = pd.DataFrame(list(map(parseToInt, train_df['RF_GDIAB'])))
train_df['RF_PHYPE'] = pd.DataFrame(list(map(parseToInt, train_df['RF_PHYPE'])))
train_df['RF_GHYPE'] = pd.DataFrame(list(map(parseToInt, train_df['RF_GHYPE'])))
train_df['RF_EHYPE'] = pd.DataFrame(list(map(parseToInt, train_df['RF_EHYPE'])))
train_df['RF_PPTERM'] = pd.DataFrame(list(map(parseToInt, train_df['RF_PPTERM'])))
train_df['RF_INFTR'] = pd.DataFrame(list(map(parseToInt, train_df['RF_INFTR'])))
train_df['RF_FEDRG'] = pd.DataFrame(list(map(parseToInt, train_df['RF_FEDRG'])))
train_df['RF_ARTEC'] = pd.DataFrame(list(map(parseToInt, train_df['RF_ARTEC'])))
train_df['RF_CESAR'] = pd.DataFrame(list(map(parseToInt, train_df['RF_CESAR'])))
train_df['AB_NICU'] = pd.DataFrame(list(map(parseToInt, train_df['AB_NICU'])))

In [11]:
.head()

,RF_PDIAB,RF_GDIAB,RF_PHYPE,RF_GHYPE,RF_EHYPE,RF_PPTERM,RF_INFTR,RF_FEDRG,RF_ARTEC,RF_CESAR,RF_CESARN,NO_RISKS,AB_NICU
0,2,2,2,2,2,2,2,0,0,2,0,1,2
1,2,2,2,2,2,2,2,0,0,3,2,0,3
2,2,2,3,2,2,2,2,0,0,2,0,0,2
3,2,2,2,2,2,2,2,0,0,2,0,1,2
4,2,2,2,2,2,2,2,0,0,2,0,1,3

In [12]:
train_df.corr()

,RF_PDIAB,RF_GDIAB,RF_PHYPE,RF_GHYPE,RF_EHYPE,RF_PPTERM,RF_INFTR,RF_FEDRG,RF_ARTEC,RF_CESAR,RF_CESARN,NO_RISKS,AB_NICU
RF_PDIAB,1.000000,0.017403,0.159107,0.075965,0.179241,0.076562,0.070900,-0.026572,-0.024739,0.065830,-0.260595,-0.272780,0.075227
RF_GDIAB,0.017403,1.000000,0.076250,0.072911,0.080846,0.048577,0.054883,0.012881,0.013301,0.051982,-0.109929,-0.401928,0.041765
RF_PHYPE,0.159107,0.076250,1.000000,-0.010102,0.129497,0.078423,0.065547,-0.004188,-0.002209,0.054095,-0.182820,-0.290748,0.068742
RF_GHYPE,0.075965,0.072911,-0.010102,1.000000,0.089677,0.046293,0.056253,0.014495,0.017249,0.008321,-0.112744,-0.418346,0.103109
RF_EHYPE,0.179241,0.080846,0.129497,0.089677,1.000000,0.098783,0.123275,-0.044938,-0.041842,0.054066,-0.462319,-0.317439,0.049580
RF_PPTERM,0.076562,0.048577,0.078423,0.046293,0.098783,1.000000,0.040460,-0.015250,-0.013525,0.113549,-0.132479,-0.326633,0.079233
RF_INFTR,0.070900,0.054883,0.065547,0.056253,0.123275,0.040460,1.000000,0.921073,0.925683,0.009424,-0.197356,-0.288617,0.054436
RF_FEDRG,-0.026572,0.012881,-0.004188,0.014495,-0.044938,-0.015250,0.921073,1.000000,0.934504,-0.022114,0.072192,-0.133371,0.042603
RF_ARTEC,-0.024739,0.013301,-0.002209,0.017249,-0.041842,-0.013525,0.925683,0.934504,1.000000,-0.020158,0.066958,-0.137051,0.044717
RF_CESAR,0.065830,0.051982,0.054095,0.008321,0.054066,0.113549,0.009424,-0.022114,-0.020158,1.000000,0.077335,-0.606123,0.031737
RF_CESARN,-0.260595,-0.109929,-0.182820,-0.112744,-0.462319,-0.132479,-0.197356,0.072192,0.066958,0.077335,1.000000,0.330862,-0.024762
NO_RISKS,-0.272780,-0.401928,-0.290748,-0.418346,-0.317439,-0.326633,-0.288617,-0.133371,-0.137051,-0.606123,0.330862,1.000000,-0.106778
AB_NICU,0.075227,0.041765,0.068742,0.103109,0.049580,0.079233,0.054436,0.042603,0.044717,0.031737,-0.024762,-0.106778,1.000000

In [8]:
df = pd.read_csv("nat18_january.csv", sep='\t')
df.head()

,CIG_0,CIG_1,CIG_2,CIG_3,MM_MTR,MM_PLAC,MM_RUPT,MM_UHYST,MM_AICU,NO_MMORB,IP_GON,IP_SYPH,IP_CHLAM,IP_HEPB,IP_HEPC,NO_INFEC,AB_NICU
0,0.0,0.0,0.0,0.0,N,N,N,1,1,NaN,N,N,N,1,1,NaN,N
1,4.0,0.0,0.0,1.0,N,N,N,1,1,NaN,N,N,N,1,1,NaN,N
2,0.0,0.0,0.0,2.0,N,N,N,1,1,NaN,N,N,N,1,1,NaN,N
3,0.0,0.0,0.0,0.0,N,N,N,1,1,NaN,N,N,N,1,1,NaN,N
4,0.0,0.0,0.0,0.0,N,N,N,1,1,NaN,N,N,N,1,1,NaN,N

In [9]:
df['MM_MTR'] = pd.DataFrame(list(map(parseToInt, df['MM_MTR'])))
df['MM_PLAC'] = pd.DataFrame(list(map(parseToInt, df['MM_PLAC'])))
df['MM_RUPT'] = pd.DataFrame(list(map(parseToInt, df['MM_RUPT'])))
df['IP_GON'] = pd.DataFrame(list(map(parseToInt, df['IP_GON'])))
df['IP_SYPH'] = pd.DataFrame(list(map(parseToInt, df['IP_SYPH'])))
df['IP_CHLAM'] = pd.DataFrame(list(map(parseToInt, df['IP_CHLAM'])))
df['AB_NICU'] = pd.DataFrame(list(map(parseToInt, df['AB_NICU'])))

In [14]:
# drop columns
df.drop(['NO_INFEC','NO_MMORB'], axis=1, inplace=True)

In [10]:
df.head()

,CIG_0,CIG_1,CIG_2,CIG_3,MM_MTR,MM_PLAC,MM_RUPT,MM_UHYST,MM_AICU,NO_MMORB,IP_GON,IP_SYPH,IP_CHLAM,IP_HEPB,IP_HEPC,NO_INFEC,AB_NICU
0,0.0,0.0,0.0,0.0,2,2,2,1,1,NaN,2,2,2,1,1,NaN,2
1,4.0,0.0,0.0,1.0,2,2,2,1,1,NaN,2,2,2,1,1,NaN,2
2,0.0,0.0,0.0,2.0,2,2,2,1,1,NaN,2,2,2,1,1,NaN,2
3,0.0,0.0,0.0,0.0,2,2,2,1,1,NaN,2,2,2,1,1,NaN,2
4,0.0,0.0,0.0,0.0,2,2,2,1,1,NaN,2,2,2,1,1,NaN,2

In [15]:
df.corr()

,CIG_0,CIG_1,CIG_2,CIG_3,MM_MTR,MM_PLAC,MM_RUPT,MM_UHYST,MM_AICU,IP_GON,IP_SYPH,IP_CHLAM,IP_HEPB,IP_HEPC,AB_NICU
CIG_0,1.000000,0.987212,0.980722,0.839432,-0.034725,-0.034546,-0.029133,0.009435,0.002548,-0.008213,-0.031569,-0.012642,0.009435,0.009435,-0.016412
CIG_1,0.987212,1.000000,0.992814,0.813352,-0.035831,-0.035649,-0.030263,0.008911,0.004632,-0.011015,-0.033162,-0.017203,0.008911,0.008911,-0.017586
CIG_2,0.980722,0.992814,1.000000,0.800832,-0.036155,-0.035986,-0.030309,0.008628,0.005587,-0.011557,-0.033041,-0.018494,0.008628,0.008628,-0.018282
CIG_3,0.839432,0.813352,0.800832,1.000000,-0.024408,-0.024918,-0.021195,0.015339,-0.022206,0.010682,-0.029388,0.019681,0.015339,0.015339,-0.003387
MM_MTR,-0.034725,-0.035831,-0.036155,-0.024408,1.000000,0.992968,0.975412,-0.892459,-0.645609,0.771605,0.916166,0.904242,-0.892459,-0.892459,0.778380
MM_PLAC,-0.034546,-0.035649,-0.035986,-0.024918,0.992968,1.000000,0.977667,-0.891990,-0.645187,0.771197,0.915697,0.903853,-0.891990,-0.891990,0.778288
MM_RUPT,-0.029133,-0.030263,-0.030309,-0.021195,0.975412,0.977667,1.000000,-0.875901,-0.634008,0.757422,0.899134,0.887756,-0.875901,-0.875901,0.767955
MM_UHYST,0.009435,0.008911,0.008628,0.015339,-0.892459,-0.891990,-0.875901,1.000000,0.714349,-0.722243,-0.860068,-0.849017,1.000000,1.000000,-0.722855
MM_AICU,0.002548,0.004632,0.005587,-0.022206,-0.645609,-0.645187,-0.634008,0.714349,1.000000,-0.525059,-0.623255,-0.617547,0.714349,0.714349,-0.528543
IP_GON,-0.008213,-0.011015,-0.011557,0.010682,0.771605,0.771197,0.757422,-0.722243,-0.525059,1.000000,0.801485,0.792271,-0.722243,-0.722243,0.628326
IP_SYPH,-0.031569,-0.033162,-0.033041,-0.029388,0.916166,0.915697,0.899134,-0.860068,-0.623255,0.801485,1.000000,0.941504,-0.860068,-0.860068,0.741572
IP_CHLAM,-0.012642,-0.017203,-0.018494,0.019681,0.904242,0.903853,0.887756,-0.849017,-0.617547,0.792271,0.941504,1.000000,-0.849017,-0.849017,0.733830
IP_HEPB,0.009435,0.008911,0.008628,0.015339,-0.892459,-0.891990,-0.875901,1.000000,0.714349,-0.722243,-0.860068,-0.849017,1.000000,1.000000,-0.722855
IP_HEPC,0.009435,0.008911,0.008628,0.015339,-0.892459,-0.891990,-0.875901,1.000000,0.714349,-0.722243,-0.860068,-0.849017,1.000000,1.000000,-0.722855
AB_NICU,-0.016412,-0.017586,-0.018282,-0.003387,0.778380,0.778288,0.767955,-0.722855,-0.528543,0.628326,0.741572,0.733830,-0.722855,-0.722855,1.000000